// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}

a {
    text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
    color: $white-cl;
}

.--black-cl {
    color: $black-cl;
}

.--blue-cl {
    color: $blue-cl;
}

.--heading-cpn {
    padding-top: 46px;
    display: flex;
    align-items: center;
    gap: 10px;
    .text {
        position: relative;
        padding-bottom: 21px;
        font-family: ms;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: linear-gradient(180deg, #5dc9f0 0%, #0080be 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            width: 50%;
            height: 3px;
            background: #5cd4ff;
            filter: blur(1px);
        }
    }
}