// css library
.owl-item.active.center {
    transform: scale(1.1);
    height: 400px;
    opacity: 1;
    @media (max-width: $sm-max) {
        // Tablet
        transform: scale(1);
        height: unset;
    }
}

.owl-item.active {
    transform: scale(0.9);
    opacity: 0.7;
    @media (max-width: $sm-max) {
        // Tablet
        transform: scale(1);
        opacity: 1;
    }
}